<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>{{ $.Site.Title }}</title>

    <meta content="" name="title">
    <meta content="" name="description">

    <meta content="website" property="og:type">
    <meta content="" property="og:url">
    <meta content="" property="og:title">
    <meta content="" property="og:description">
    <meta content="" property="og:image">
    <meta content="#3399cc" name="theme-color">

    <link href="/img/favicon/180x180.png" rel="apple-touch-icon" type="image/png">
    <link href="/img/favicon/32x32.png" rel="icon" type="image/png">

    <link href="" rel="canonical">
    <link crossorigin href="//cdn.jsdelivr.net" rel="preconnect">
    <link crossorigin href="//fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="//fonts.gstatic.com" rel="preconnect">

    <link crossorigin="anonymous" href="//cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          integrity="sha256-7ZWbZUAi97rkirk4DcEp4GWDPkWpRMcNaEyXGsNXjLg=" rel="preload" as="style">
    <link crossorigin href="//fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap"
          rel="preload" as="style">
    <link crossorigin="anonymous" href="//cdn.jsdelivr.net/npm/boxicons@2.1.2/css/boxicons.min.css"
          integrity="sha256-spzWMGRhHuuFE1QUWhyYT+iD2HlxtTEFIGrR1do96CQ=" rel="preload" as="style">

    <link crossorigin="anonymous" href="//cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          integrity="sha256-7ZWbZUAi97rkirk4DcEp4GWDPkWpRMcNaEyXGsNXjLg=" rel="stylesheet">
    <link crossorigin href="//fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap"
          rel="stylesheet">
    <link crossorigin="anonymous" href="//cdn.jsdelivr.net/npm/boxicons@2.1.2/css/boxicons.min.css"
          integrity="sha256-spzWMGRhHuuFE1QUWhyYT+iD2HlxtTEFIGrR1do96CQ=" rel="stylesheet">

    {{ $style := resources.Get "css/style.scss" | toCSS }}
    <link href="{{ $style.RelPermalink }}" rel="stylesheet">

    <script crossorigin="anonymous"
            defer integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            src="//cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>

    {{ $script := resources.Get "js/script.js" }}
    <script defer src="{{ $script.RelPermalink }}"></script>
</head>
<body>
<!--
    EN: Are you reading through our source code? Nice! As a reward for your effort you will receive a 10% discount if
    you register for one of our open schedule training courses. Enter the code "BRONCODE" as note with your order!
-->
<!--
    NL: Zit je in onze broncode te neuzen? Leuk! Als beloning voor je moeite ontvang je 10% korting als je je inschrijft
    op een van onze open rooster trainingen. Geef hiervoor de code "BRONCODE" mee als opmerking bij je bestelling!
-->
<header>
    {{ block "header" . }}
    {{ partial "header.html" . }}
    {{ end }}
</header>
<main>
    {{ block "main" . }}
    {{ end }}
</main>
<aside>
    {{ block "aside" . }}
    {{ partial "newsletter.html" . }}
    {{ end }}
</aside>
<footer>
    {{ block "footer" . }}
    {{ partial "footer.html" . }}
    {{ end }}
</footer>
</body>
</html>
