{{ define "main" }}
<div class="hero">
  <video
    autoplay="autoplay"
    loop="loop"
    muted="muted"
    playsinline="playsinline"
    poster="/img/hero/preload.jpg"
    preload="auto"
  >
    <source src="/videos/hero.mp4" type="video/mp4" />
  </video>
</div>
<section>
  <div class="container-fluid">
    <div class="row card-columns">
      <div class="col-lg-4">
        <div class="card at-collapse">
          <h2 class="card-header at-collapse-toggle at-collapse-toggle-logo">
            Trainingen
            <span>
              <img alt="AT Computing logo" src="/img/logo/arrow.png" />
            </span>
          </h2>
          <div class="card-body at-collapse-target flex-column">
            <p>
              Of je nu wilt beginnen met programmeren in Python of van plan bent
              aan de slag te gaan met de command line interface van Linux: met
              onze trainingen ga je gegarandeerd goed van start. Ook voor
              ervaren IT-specialisten valt er bij ons al sinds 1985 genoeg te
              leren. Denk aan Kubernetes, Ansible of git.
            </p>
            <p class="mb-0">
              Bekijk <a href="#trainingen" title="Trainingen">hier</a> al onze
              trainingen.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card at-collapse">
          <h2
            class="card-header at-collapse-toggle at-collapse-toggle-logo"
            id="Detachering"
          >
            Detachering
            <span>
              <img alt="AT Computing logo" src="/img/logo/arrow.png" />
            </span>
          </h2>
          <div class="card-body at-collapse-target flex-column">
            <p>
              Soms heb je tijdelijk behoefte aan een extra IT-specialist om de
              continuiteit of snelheid van het bedrijf te behouden. Onze open
              source gurus kunnen je hierbij helpen. Of het nu gaat om
              implementatie- of migratie-trajecten, het versterken van een team
              of hulp bij design-vraagstukken: wij hebben doorgewinterde
              specialisten in dienst die jarenlange ervaring hebben met het
              werken voor zowel grote als kleinere bedrijven in (onder andere)
              de publieke-, financiele- en technologie-sector.
            </p>
            <p class="mb-0">
              Benieuwd wat we voor jou kunnen betekenen? Neem dan vrijblijvend
              <a href="#contact" title="Contact">contact</a> met ons op.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card at-collapse">
          <h2
            class="card-header at-collapse-toggle at-collapse-toggle-logo"
            id="Consultancy"
          >
            Consultancy
            <span>
              <img alt="AT Computing logo" src="/img/logo/arrow.png" />
            </span>
          </h2>
          <div class="card-body at-collapse-target flex-column">
            <p>
              Een sparringspartner. Specifieke kennis. Een helpende hand. Advies
              bij design en/of implementatie. Onder begeleiding kennis maken met
              nieuwe tools en technieken: met onze consultancy dienstverlening
              is er altijd op een passende manier kennis voor je beschikbaar.
              Omdat we met een team van 15 ervaren open source gurus zijn, is er
              altijd brede en diepgaande expertise binnen handbereik. Je kunt
              consultancy bij ons inkopen per dagdeel, op project/offertebasis
              of met een strippenkaart.
            </p>
            <p>
              Meer weten? Neem dan
              <a href="#contact" title="Contact">contact</a> met ons op en we
              maken graag vrijblijvend een afspraak.
            </p>
            <p class="mb-0">
              We hebben ook een aantal
              <a href="#diensten" title="Diensten">diensten</a> waarin we onze
              kennis en kunde voorverpakt hebben.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid" id="diensten">
  <header>
    <h1>Diensten</h1>
    <p class="subtitle">Dit zijn onze <span>diensten</span></p>
    <p>
      Krijg meer inzicht in je Linux-landschap en maak onder begeleiding van
      onze professionals kennis met nieuwe open source oplossingen.
    </p>
  </header>
  <div class="row">
    <picture class="col-lg-6 d-flex justify-content-center align-items-center">
      <img alt="Diensten" class="w-70" src="/img/section/services.png" />
    </picture>
    <div class="col-lg-6 d-flex align-items-center">
      <ul class="list-unstyled">
        {{ range(where .Site.RegularPages "Type" "diensten").ByDate }}
        <li class="d-flex">
          <i class="bx bx-lg {{ .Params.icon}} pt-2 pe-3"></i>
          <div>
            <a class="fw-bold" href="{{ .RelPermalink }}" title="{{ .Title }}"
              >{{ .Title }}</a
            >
            <p>{{ .Summary }}</p>
          </div>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</section>
<section class="container-fluid" id="kennis">
  <header>
    <h1>Kennis</h1>
    <p class="subtitle">Dit is waar we <span>goed</span> in zijn</p>
    <p>
      We investeren bij AT Computing veel in de ontwikkeling en certificering
      van onze gurus. Omdat we al sinds onze oprichting
      leveranciersonafhankelijk zijn, mag je van ons een objectief en gedegen
      advies verwachten zonder dubbele agenda.
    </p>
  </header>
  <div class="row">
    <div class="col-lg-6 mb-3">
      <ul class="list-unstyled">
        <li class="mb-3">
          <div class="d-flex justify-content-between mb-1">
            <small
              >Linux (Red Hat / Ubuntu / CentOS / Suse / Fedora / Debian)</small
            >
            <small>100%</small>
          </div>
          <div class="progress">
            <div class="progress-bar w-100"></div>
          </div>
        </li>
        <li class="mb-3">
          <div class="d-flex justify-content-between mb-1">
            <small>Python</small>
            <small>100%</small>
          </div>
          <div class="progress">
            <div class="progress-bar w-100"></div>
          </div>
        </li>
        <li class="mb-3">
          <div class="d-flex justify-content-between mb-1">
            <small>Kubernetes</small>
            <small>80%</small>
          </div>
          <div class="progress">
            <div class="progress-bar w-80"></div>
          </div>
        </li>
        <li class="mb-3">
          <div class="d-flex justify-content-between mb-1">
            <small>Ansible</small>
            <small>100%</small>
          </div>
          <div class="progress">
            <div class="progress-bar w-100"></div>
          </div>
        </li>
        <li class="mb-3">
          <div class="d-flex justify-content-between mb-1">
            <small>Vault</small>
            <small>90%</small>
          </div>
          <div class="progress">
            <div class="progress-bar w-90"></div>
          </div>
        </li>
        <li class="mb-3">
          <div class="d-flex justify-content-between mb-1">
            <small>Consul</small>
            <small>80%</small>
          </div>
          <div class="progress">
            <div class="progress-bar w-80"></div>
          </div>
        </li>
        <li class="mb-3">
          <div class="d-flex justify-content-between mb-1">
            <small>Cloud Automation (AWS, GCP, Azure)</small>
            <small>60%</small>
          </div>
          <div class="progress">
            <div class="progress-bar w-60"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-6 mb-3">
      <ul class="list-unstyled">
        <li class="mb-3">
          <div class="d-flex justify-content-between mb-1">
            <small>Containers (Docker, Podman, CRI-O)</small>
            <small>80%</small>
          </div>
          <div class="progress">
            <div class="progress-bar w-80"></div>
          </div>
        </li>
        <li class="mb-3">
          <div class="d-flex justify-content-between mb-1">
            <small>Nomad</small>
            <small>60%</small>
          </div>
          <div class="progress">
            <div class="progress-bar w-60"></div>
          </div>
        </li>
        <li class="mb-3">
          <div class="d-flex justify-content-between mb-1">
            <small>Git/GitLab</small>
            <small>90%</small>
          </div>
          <div class="progress">
            <div class="progress-bar w-90"></div>
          </div>
        </li>
        <li class="mb-3">
          <div class="d-flex justify-content-between mb-1">
            <small>Terraform</small>
            <small>80%</small>
          </div>
          <div class="progress">
            <div class="progress-bar w-80"></div>
          </div>
        </li>
        <li class="mb-3">
          <div class="d-flex justify-content-between mb-1">
            <small>Infrastructure as Code (IaC)</small>
            <small>100%</small>
          </div>
          <div class="progress">
            <div class="progress-bar w-100"></div>
          </div>
        </li>
        <li class="mb-3">
          <div class="d-flex justify-content-between mb-1">
            <small>CI/CD Pipelines</small>
            <small>90%</small>
          </div>
          <div class="progress">
            <div class="progress-bar w-90"></div>
          </div>
        </li>
        <li class="mb-3">
          <div class="d-flex justify-content-between mb-1">
            <small>DevOps Engineering / Site Reliability Engineering</small>
            <small>90%</small>
          </div>
          <div class="progress">
            <div class="progress-bar w-90"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="box mb-3">
        <i class="bx bxl-gitlab"></i>
        <p class="h2 fw-medium mb-1">12341</p>
        <p class="mb-0">Commits in onze GitLab</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box mb-3">
        <i class="bx bx-wink-smile"></i>
        <p class="h2 fw-medium mb-1">19</p>
        <p class="mb-0">Experts bij ons werkzaam</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box mb-3">
        <i class="bx bxs-book-reader"></i>
        <p class="h2 fw-medium mb-1">24</p>
        <p class="mb-0">Trainingen bij ons te volgen</p>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid" id="onze-partnerships">
  <header>
    <h1>Onze partnerships</h1>
    <p class="subtitle">Dit zijn op onze <span>partnerships</span></p>
  </header>
  <ul class="row list-unstyled">
    <li
      class="col-lg-3 offset-lg-3 col-sm-4 col-6 d-flex justify-content-center align-items-center"
    >
      <a
        class="w-75"
        href="https://www.hashicorp.com/"
        target="_blank"
        title="HashiCorp"
      >
        <img alt="HashiCorp" class="w-100" src="/img/partners/hashicorp.png" />
      </a>
    </li>
    <li
      class="col-lg-3 col-sm-4 col-6 d-flex justify-content-center align-items-center"
    >
      <a
        class="w-75"
        href="https://linuxfoundation.org/"
        target="_blank"
        title="The Linux Foundation"
      >
        <img
          alt="The Linux Foundation"
          class="w-100"
          src="/img/partners/lf_atp.png"
        />
      </a>
    </li>
  </ul>
</section>
<section class="container-fluid" id="onze-klanten">
  <header>
    <h1>Onze klanten</h1>
    <p class="subtitle">
      Wij werken onder andere voor deze <span>klanten</span>
    </p>
  </header>
  <ul class="row list-unstyled">
    <li
      class="col-lg-3 col-sm-4 col-6 d-flex justify-content-center align-items-center"
    >
      <a class="w-75" href="https://rivm.nl/" target="_blank" title="RIVM">
        <img alt="RIVM" class="w-100" src="/img/clients/rivm.jpg" />
      </a>
    </li>
    <li
      class="col-lg-3 col-sm-4 col-6 d-flex justify-content-center align-items-center"
    >
      <a class="w-75" href="https://sabaas.nl/" target="_blank" title="Sabaas">
        <img alt="Sabaas" class="w-100" src="/img/clients/sabaas.png" />
      </a>
    </li>
    <li
      class="col-lg-3 col-sm-4 col-6 d-flex justify-content-center align-items-center"
    >
      <a
        class="w-75"
        href="https://vijfhart.nl/"
        target="_blank"
        title="Vijfhart"
      >
        <img alt="Vijfhart" class="w-100" src="/img/clients/vijfhart.png" />
      </a>
    </li>
    <li
      class="col-lg-3 col-sm-4 col-6 d-flex justify-content-center align-items-center"
    >
      <a class="w-75" href="https://kpn.com/" target="_blank" title="KPN">
        <img alt="KPN" class="w-100" src="/img/clients/kpn.png" />
      </a>
    </li>
    <li
      class="col-lg-3 offset-lg-3 col-sm-4 col-6 d-flex justify-content-center align-items-center"
    >
      <a class="w-75" href="https://www.sidn.nl/" target="_blank" title="SIDN">
        <img alt="SIDN" class="w-100" src="/img/clients/sidn.png" />
      </a>
    </li>
    <li
      class="col-lg-3 col-sm-4 col-6 d-flex justify-content-center align-items-center"
    >
      <a
        class="w-75"
        href="https://werktools.com/"
        target="_blank"
        title="Werktools"
      >
        <img alt="Werktools" class="w-100" src="/img/clients/werktools.png" />
      </a>
    </li>
  </ul>
</section>
<section class="container-fluid" id="trainingen">
  <header>
    <h1>Trainingen</h1>
    <p class="subtitle">Dit zijn onze <span>trainingen</span></p>
    <p>
      We leiden sinds 1985 IT professionals op met onze trainingen op gebied van
      UNIX/Linux en diverse open source tools en programmeertalen. Welke
      training je bij ons ook volgt: we gaan voor niets minder dan topkwaliteit
      van materiaal, docent en lab-omgeving.
    </p>
    <p>
      Heb je specifieke trainingswensen? Geen probleem! We leveren met veel
      plezier maatwerktrainingen die we zoveel mogelijk afstemmen op jouw
      praktijksituatie.
      <a href="#contact" title="Contact opnemen"
        >Neem gerust contact met ons op</a
      >
      om je trainingswensen te delen en we gaan graag met je in gesprek over een
      passende oplossing.
    </p>
  </header>
  <div class="flowchart">
    <ul class="courses">
      {{ range where .Site.Pages "Params.title" "Linux/UNIX Fundamentals"}} {{
      .Content }} {{ end }} {{ range where .Site.Pages "Params.title"
      "leren-programmeren-in-python"}} {{ .Content }} {{ end }}
    </ul>
  </div>
  <div>
    <p class="text-center small">
      Al onze trainingen zijn exclusief verkrijgbaar via onze zuster
      <a href="https://vijfhart.nl/" target="_blank" title="Vijfhart"
        >Vijfhart IT-Opleidingen</a
      >. Wil je alles nog eens rustig nalezen? Dan
      <a download href="/files/brochure_trainingen_AT_Computing_2023.pdf"
        >vind je hier</a
      >
      onze trainingsbrochure.
    </p>
  </div>
</section>
<section class="container-fluid" id="leerpad">
  <header>
    <h1>ATypical Open Source Learning Journey</h1>
    <p class="subtitle">
      Dit is ons <span>leerpad</span> voor (toekomstige) open source engineers
    </p>
    <p>
      Via de afbeelding kom je bij een klikbare, hoge resolutie PDF-versie van
      dit leerpad. De PDF-versie is uitermate geschikt om uit te printen en
      bijvoorbeeld op te hangen bij je werkplek of in je slaapkamer.
    </p>
  </header>
  <div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <a
        class="w-75"
        download
        href="/files/atypical_open_source_learning_journey_2023.pdf"
        title="ATypical Open Source Learning Journey"
      >
        <img
          alt="ATypical Open Source Learning Journey"
          class="w-100"
          src="/img/journey/atypical_learning_journey.svg"
        />
      </a>
    </div>
  </div>
</section>
<section class="container-fluid" id="kroonjuwelen">
  <header>
    <h1>Onze kroonjuwelen</h1>
    <p class="subtitle">Dit zijn onze <span>kroonjuwelen</span></p>
    <p>
      Voor wie echt diep onder de motorkap wil duiken hebben wij twee unieke
      trainingen in ons assoriment. Van gurus, voor gurus.
    </p>
  </header>
  <div class="row card-columns">
    {{ range(where .Site.RegularPages "Type" "kroonjuwelen").Reverse }}
      {{ .Content }}
    {{ end }}
  </div>
</section>
<section class="container-fluid" id="workshops">
  <header>
    <h1>Workshops</h1>
    <p class="subtitle">Dit zijn onze <span>workshops</span></p>
    <p>
      Binnen een halve dag met je team een flinke lading kennis tanken en
      hands-on ervaring opdoen: dat kan met onze workshops! Hieronder vind je
      een selectie uit ons assortiment. Heb je specifieke wensen of wil je een
      workshop bestellen? Neem dan contact met ons op en we gaan ermee aan de
      slag. Alle prijzen zijn exclusief BTW.
    </p>
  </header>
  <div class="row card-columns">
    {{ range(where .Site.RegularPages "Type" "workshops").ByDate.Reverse }}
    <div class="col-lg-4">
      <div class="card at-collapse">
        <h2 class="card-header at-collapse-toggle at-collapse-toggle-logo">
          {{ .Title }}
          <span>
            <img alt="AT Computing logo" src="/img/logo/arrow.png" />
          </span>
        </h2>
        <div class="card-body at-collapse-target flex-column">
          <p>{{ .Content }}</p>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>
<section class="container-fluid" id="contact">
  <header>
    <h1>Contact</h1>
    <p class="subtitle">Dit zijn onze <span>contactgegevens</span></p>
    <p>
      Heb je een vraag? Ben je op zoek naar een maatwerktraining of een
      workshop? Wil je ons iets laten weten? Of wil je bij ons komen werken? We
      horen het graag! Via onderstaande kanalen kun je contact met ons opnemen.
    </p>
  </header>
  <div class="row mb-3">
    <div class="col-lg-4">
      <div class="box mb-3">
        <i class="bx bx-map"></i>
        <p class="h5 fw-medium mb-1">ATypical address</p>
        <p class="mb-0">
          <a href="https://osm.org/go/0GFfpwHBn?layers=N&m=" target="_blank"
            >51.996006, 5.960722</a
          >
        </p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box mb-3">
        <i class="bx bx-envelope"></i>
        <p class="h5 fw-medium mb-1">E-mail</p>
        <p class="mb-0">
          <a href="mailto:info@atcomputing.nl">info@atcomputing.nl</a>
        </p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="box mb-3">
        <i class="bx bx-phone"></i>
        <p class="h5 fw-medium mb-1">Telefoon</p>
        <p class="mb-0">
          <a href="tel:+31243527282">+31 24 352 72 82</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <iframe
        allowfullscreen=""
        class="mb-4 mb-lg-0"
        src="https://www.openstreetmap.org/export/embed.html?bbox=5.959254205226899%2C51.994958841318606%2C5.962258279323578%2C51.997001723365045&amp;layer=mapnik&amp;marker=51.99598029399384%2C5.960756242275238"
        style="border: 0; width: 100%; height: 500px"
      ></iframe>
    </div>
    <div class="col-lg-6">
      <form action="https://formspree.io/f/xjvjzdjq" method="post">
        <div class="mb-3">
          <label class="form-label" for="name">Naam</label>
          <input
            class="form-control"
            id="name"
            name="name"
            required="required"
            type="text"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="email">E-mailadres</label>
          <input
            class="form-control"
            id="email"
            name="email"
            required="required"
            type="email"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="subject">Onderwerp</label>
          <input
            class="form-control"
            id="subject"
            name="subject"
            required="required"
            type="text"
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="message">Bericht</label>
          <textarea
            class="form-control"
            id="message"
            name="message"
            required="required"
            rows="5"
          ></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Verzenden</button>
      </form>
    </div>
  </div>
</section>
{{ end }}
