<section class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-3">
            <address>
                <h3>AT Computing bv</h3>
                <div class="mb-3">
                    Arnhemsestraatweg 33<br>
                    6881ND Velp (Gld)<br>
                    Nederland
                </div>
                <div class="mb-3">
                    <i class="bx bx-envelope me-1"></i> <a href="tel:+31243527282">+31 24 352 72 82</a><br>
                    <i class="bx bx-phone me-1"></i> <a
                        href="mailto:info@atcomputing.nl">info@atcomputing.nl</a><br>
                    <i class="bx bx-map me-1"></i> <a href="https://osm.org/go/0GFfpwHBn?layers=N&m="
                                                      target="_blank">51.996006, 5.960722</a>
                </div>
                <a href="/bedrijfsgegevens" title="Bedrijfsgegevens">Bekijk hier onze bdrijfsgegevens</a>
            </address>
        </div>
        <div class="col-md-6 col-lg-3">
            <h3>Snel naar</h3>
            <ul>
                <li><a href="/" title="AT Computing">Home</a></li>
                <li><a href="/downloads" title="Downloads">Downloads</a></li>
                <li><a href="/blog" title="Blog">Blog</a></li>
                <li><a href="/vacatures" title="Vacatures">Vacatures</a></li>
                <li><a href="/privacybeleid" title="Privacybeleid">Privacybeleid</a></li>
                <li><a href="/algemene-voorwaarden" title="Algemene voorwaarden">Algemene voorwaarden</a></li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-3">
            <h3>Onze diensten</h3>
            <ul>
                <li><a href="#trainingen" title="Trainingen">Trainingen</a></li>
                <li><a href="#workshops" title="Workshops">Workshops</a></li>
                <li><a href="#" title="Detachering">Detachering</a></li>
                <li><a href="#" title="Consultancy">Consultancy</a></li>
                <li><a href="#" title="Kubernetes Bootcamp">Kubernetes Bootcamp</a></li>
                <li><a href="#" title="CI/CD Bootcamp">CI/CD Bootcamp</a></li>
                <li><a href="#" title="Linux Health Check">Linux Health Check</a></li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-3">
            <h3>Social media</h3>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn btn-primary" href="https://twitter.com/atcomputing" target="_blank"
                       title="Twitter">
                        <i class="bx bxl-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn btn-primary" href="https://www.facebook.com/atcomputing/" target="_blank"
                       title="Facebook">
                        <i class="bx bxl-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn btn-primary" href="https://www.linkedin.com/company/at-computing" target="_blank"
                       title="LinkedIn">
                        <i class="bx bxl-linkedin"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn btn-primary" href="https://github.com/atcomputing" target="_blank" title="Github">
                        <i class="bx bxl-github"></i>
                    </a>
                </li>
            </ul>
            <h3>Open Source Praat</h3>
            <a href="https://ospraat.nl/signup_user_complete/?id=g7uqnp3defnnjjg83ddj4ouy1y"
               target="_blank" title="Open Source Praat">
                <img alt="Open Source Praat" class="w-40 mb-2" src="/img/contact/ospraat.png">
            </a>
            <p class="fs-small mb-0">Meld je
                <a href="https://ospraat.nl/signup_user_complete/?id=g7uqnp3defnnjjg83ddj4ouy1y" target="_blank">gratis</a>
                aan en praat mee over alles wat met Open Source te maken heeft.</p>
        </div>
    </div>
</section>
<div class="bg-blue">
    <div class="container-fluid">
        <div class="bg-blue row mb-3">
            <div class="col p-3">
                &copy; Copyright 1985-2022 AT Computing
            </div>
            <div class="col p-3 text-end">
                AT Computing is onderdeel van
                <a href="https://complementairgroep.nl/" target="_blank" title="Complementair Groep">
                    <img src="/img/contact/complementairgroep.png" class="w-20 ms-1" alt="Complementair Groep">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <p class="text-center fs-xsmall">
        Deze website is 100% open source gebaseerd
        (<a href="https://www.docker.com/" target="_blank" title="Docker">Docker</a>,
        <a href="https://www.alpinelinux.org/" target="_blank" title="Alpine Linux">Alpine</a>,
        <a href="https://www.nginx.com/" target="_blank" title="NGINX">NGINX</a>, <a href="https://gohugo.io/" target="_blank" title="Hugo">Hugo</a>,
        <a href="https://getbootstrap.com/" target="_blank" title="Bootstrap">Bootstrap</a>) en wordt cloud-native
        en "as code" onderhouden via een CI/CD pipeline in
        <a href="https://gitlab.com" target="_blank" title="Gitlab">Gitlab</a>.
    </p>
    <p class="text-center fs-xxsmall mb-0 color-black">
        <code>
	    RXIgemlqbiBnZWVuIGhvbmRlbiwgaGFtc3RlcnMsIGxhbWEncyBvZiBhbmRlcmUgb3JnYW5pc21lbiBnZXdvbmQgZ2VyYWFrdCB0aWpkZW5zIGhldCBtYWtlbiB2YW4gZGV6ZSB3ZWJzaXRlLg==
        </code>
        <!--
            EN: Of course you're reading the source code of this page all the way down to see if there is another
            easter egg! You might have talent to become a real guru. Interested? Check
            https://atcomputing.nl/vacatures.html and get in touch!
        -->
        <!--
            NL: Natuurlijk lees je de broncode van deze pagina helemaal naar het einde om te zien of er nog een
            easter egg is! Jij hebt misschien het talent om een echte goeroe te worden. Geïnteresseerd? Check
            https://atcomputing.nl/vacatures.html en neem contact op!
        -->
    </p>
</div>
