<section id="newsletter">
    <div class="box">
        <i class="bx bx-news"></i>
        <p class="h5 fw-medium mb-1">Nieuwsbrief</p>
        <p>Wil jij door ons op de hoogte worden gehouden? Meld je dan hieronder aan door je
            e-mailadres in te vullen.</p>
        <form action="https://formspree.io/f/myylvaqk" class="d-flex justify-content-center" method="post">
            <div class="input-group w-40">
                <input class="form-control border-white" name="email" placeholder="E-mailadres"
                       required="required" title="E-mailadres" type="email">
                <button class="btn btn-outline-light" type="submit">Aanmelden</button>
            </div>
        </form>
    </div>
</section>
